<div class="container">
    <div class="row top-nav">
        <div class="col-xs-1 logo">
            <a href="/" title="Home"><img src="/Content/img/logo-tall.png" /></a>
        </div>
        <div class="col-xs-11 top-nav-links">
            <div class="row">
                <div class="col-xs-1 link"><a href="">Profile</a></div>
                <div class="col-xs-1 link"><a href="/forums">Forums</a></div>
                @*<div class="col-xs-1 link"><a href="">Patterns</a></div>
                <div class="col-xs-1 link"><a href="">Material</a></div>
                <div class="col-xs-1 link"><a href="">Groups</a></div>
                <div class="col-xs-1 link"><a href="">People</a></div>
                <div class="col-xs-1 link"><a href="">Store</a></div>
                <div class="col-xs-1 link"><a href="">Profile</a></div>*@
                <div class="col-xs-10 link"></div>
            </div>
        </div>
    </div>
</div>